body
{
    background-color: hsl(240, 73%, 65%);
}
.main
{
    padding-top: 70px;
    padding-left: 200px;
}
.login
{
    display: flex;
    background-color: white;
    height: 500px;
    width: 1000px;
    border-radius: 2em;
}
.image
{
    width: 50%;
    height: 50%;
    padding-top: 100px;
}
.headline
{
    color: black;
    text-align: center;
    font-family: 'Kumbh sans';
}
.card
{
    padding-top: 100px;
    padding-left: 30px;
}
.inputs
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
#iptext
{
    font-family: 'Kumbh sans';
    font-size: 20px;
    text-align: center;
    height: 20px;
    width: 400px;
    padding-top: 5px;
    border-radius: 2em;
    border-color: black;   
}
#btn
{
    font-family: 'Kumbh sans';
    background-color:#5d80b6;
    font-size:20px;
    height: 30px;
    width: 100px;
    border-radius: 2em;
    border-color: black;
    padding-top: 3px;
}
#btn:hover
{
    background-color: #05647a;
}
.pred
{
    display: flex;
    flex-direction: column;
}
.prediction
{
    text-align: center;
    font-size: 20px;
    font-family: 'Kumbh sans';
}